<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learnque.my.moviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.learnque.my.moviecatalogue.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.learnque.my.moviecatalogue.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".view.ui.SettingActivity"></activity>

        <receiver android:name=".view.utility.StackViewWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stack_view_widget_info" />
        </receiver>

        <activity android:name=".view.ui.DetailFavoritActivity" />
        <activity android:name=".view.ui.DetailActivity" />
        <activity android:name=".view.ui.FavoriteActivity" />
        <activity android:name=".view.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".view.utility.StackViewWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stack_view_widget_info" />
        </receiver>

        <service
            android:name=".view.utility.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".service.provider.MovieProvider"
            android:authorities="com.learnque.my.moviecatalogue"
            android:exported="true"
            android:readPermission="com.learnque.my.moviecatalogue.READ_DATABASE"
            android:writePermission="com.learnque.my.moviecatalogue.WRITE_DATABASE" />
        <provider
            android:name=".service.provider.TvProvider"
            android:authorities="com.learnque.my.tvcatalogue"
            android:exported="true"
            android:readPermission="com.learnque.my.moviecatalogue.READ_DATABASE"
            android:writePermission="com.learnque.my.moviecatalogue.WRITE_DATABASE" />
        <receiver
            android:name=".service.alarm.DailyReminderReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".service.alarm.ReleaseReminderReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>